@font-face {
    font-family: MCWXX;
    src: url(/fonts/MCWXXLight.woff?b699942cc7748ac4dda3b93cc2155b45) format('woff'); /* Pretty Modern Browsers */
    font-weight: lighter;
}
@font-face {
    font-family: MCWXX;
    src: url(/fonts/MCWXXNormal.woff?e0df2065d378a745055c34ccbb6166b5) format('woff'); /* Pretty Modern Browsers */
    font-weight: 400;
}
@font-face {
    font-family: MCWXX;
    src: url(/fonts/MCWXXMedium.woff?bd1663bd70aa08de791814853813d087) format('woff'); /* Pretty Modern Browsers */
    font-weight: 700;
}
@font-face {
    font-family: MCWXX;
    src: url(/fonts/MCWXXBold.woff?bda50a53ff08a4c0dbf25136b66cb244) format('woff'); /* Pretty Modern Browsers */
    font-weight: bold;
}

@font-face {
    font-family: MCWXX;
    src: url(/fonts/MCWXXExtraBold.woff?964525fdbb44dfed639c58b99d35c02e) format('woff'); /* Pretty Modern Browsers */
    font-weight: 900;
}html,
body {
  margin: 0;
  padding: 0;
}

