@import url("../fonts/fonts.scss");
html, body{
    margin:0;
    padding: 0;
}
// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
// @import "variables";

// Bootstrap
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";


a{
    text-decoration: none;
}
@media (min-width: 600px) {
    .content_wrapper {
        padding-left: calc( 24px + 10% );
        padding-right: calc( 24px + 10% );
    }
}
.content_wrapper{
    padding-left: calc( 16px + 5% );
    padding-right: calc( 16px + 5% );
}