@font-face {
    font-family: MCWXX;
    src: url('MCWXXLight.woff') format('woff'); /* Pretty Modern Browsers */
    font-weight: lighter;
}
@font-face {
    font-family: MCWXX;
    src: url('MCWXXNormal.woff') format('woff'); /* Pretty Modern Browsers */
    font-weight: 400;
}
@font-face {
    font-family: MCWXX;
    src: url('MCWXXMedium.woff') format('woff'); /* Pretty Modern Browsers */
    font-weight: 700;
}
@font-face {
    font-family: MCWXX;
    src: url('MCWXXBold.woff') format('woff'); /* Pretty Modern Browsers */
    font-weight: bold;
}

@font-face {
    font-family: MCWXX;
    src: url('MCWXXExtraBold.woff') format('woff'); /* Pretty Modern Browsers */
    font-weight: 900;
}